textarea {
    background-image: url("/Cvičnení14/email.png");
    background-position: center;
}
body {
    background-image: url("https://cs.wikipedia.org/wiki/Medv%C4%9Bd_kam%C4%8Datsk%C3%BD#/media/Soubor:Kamchatka_Brown_Bear_near_Dvuhyurtochnoe_on_2015-07-23.png");
}