table {
    border-collapse: collapse;
}
td {
    border: 1px solid black;
    text-align: center;
    color: transparent;
    height: 75px;
    width: 75px;
}
tr:nth-child(4n+1)>td:nth-child(4n+1),
tr:nth-child(4n)>td:nth-child(4n),
tr:nth-child(4n+2)>td:nth-child(4n+2),
tr:nth-child(4n+3)>td:nth-child(4n+3) {
    background-color: red;
}
tr:nth-child(4n)>td:nth-child(4n+2),
tr:nth-child(4n+1)>td:nth-child(4n+3),
tr:nth-child(4n+2)>td:nth-child(4n),
tr:nth-child(4n+3)>td:nth-child(4n+1) {
    background-color: brown;
}
tr:nth-child(4n+2)>td:nth-child(4n+1),
tr:nth-child(4n+1)>td:nth-child(4n),
tr:nth-child(4n)>td:nth-child(4n+3),
tr:nth-child(4n+3)>td:nth-child(4n+2) {
    background-color: green;
}
tr:nth-child(4n+1)>td:nth-child(4n+2),
tr:nth-child(4n+2)>td:nth-child(4n+3),
tr:nth-child(4n+3)>td:nth-child(4n),
tr:nth-child(4n)>td:nth-child(4n+1) {
    background-color: blue;
}