
table {
    border-collapse: collapse;
    width: 100%;
}
td,th { 
    text-align:left;
    padding: 10px;
}
tr:nth-child(2n) {
    background-color: lightgray;
}
tr:hover:not(:first-child) {
    background-color: darkgray;
}
.tabulka {
    overflow-x:auto;
}